* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: 'wdth' 100;
    scroll-behavior: smooth;
    scroll-padding: var(--scroll-padding, 50px);
    box-sizing: border-box;
}

:root {
    --graphite-cl: #434343;
    --graphite-cl-lighten: hsl(0, 0%, 95%);
    --orange-cl: #ff5e00;
    --error-red: #ed4337;

    --body-bg: linear-gradient(
        to right,
        rgb(215, 223, 252) 0%,
        rgb(255, 255, 255) 0%,
        rgb(215, 223, 252) 84%
    );

    --box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
        rgba(0, 0, 0, 0.22) 0px 10px 10px;
    --box-shadow-input: rgba(0, 0, 0, 0.24) 0px 3px 5px 1px;

    --fs-p: 1.2rem;
    --fs-sh: 1.8rem;
    --fs-h: 2.5rem;

    --fs-p-m: 1rem;
    --fs-sh-m: 1.5rem;
    --fs-h-m: 2rem;
}

/* scroll */
body::-webkit-scrollbar,
textarea::-webkit-scrollbar {
    width: 0.3rem;
}

body::-webkit-scrollbar-track,
textarea::-webkit-scrollbar-track {
    background-color: transparent;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--graphite-cl);
    border-radius: 1rem;
}

textarea::-webkit-scrollbar-thumb {
    background-color: var(--orange-cl);
    border-radius: 1rem;
}
/* scroll */

body {
    display: flex;
    flex-direction: column;

    background: linear-gradient(
        to right,
        rgb(215, 223, 252) 0%,
        rgb(255, 255, 255) 0%,
        rgb(215, 223, 252) 84%
    );

    /* min-height: 500vh; */
    overflow-x: hidden;
}

/* side social icons */
body.show-side-socials #side-socials {
    display: flex;
}

div#side-socials {
    display: none;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

div#side-socials img {
    position: relative;
    display: block;
    width: 2rem;
    z-index: 100;
}
/* side social icons */

.main-heading {
    font-size: 2.5rem;
    letter-spacing: -2px;
    line-height: 1.2;
    font-weight: 700;
    color: #434343;
}

strong {
    font-weight: bold;
}

/* nav */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: var(--box-shadow);
    padding: 0.8rem;
    z-index: 12;
}

.logo > span {
    font-size: 1.5rem;
    color: var(--graphite-cl);
    /* letter-spacing: -1px; */
}

.logo > span > span {
    color: var(--orange-cl);
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1rem;
}

a {
    text-decoration: none;
    color: var(--graphite-cl);
}

#cv-btn {
    background: var(--graphite-cl);
    color: #fff;
    border-radius: 0.6rem;
    padding: 0.5rem 1rem;
}
/* nav */

/* mobile logo */
#mobile-logo {
    display: none;
}
/* mobile logo */

/* nav open/close */
#menu-opener,
#menu-closer {
    display: none;
}
/* nav open/close */

body > .page {
    min-height: calc(100vh - var(--scroll-padding));
}

/* hero page */
section#hero {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-block-start: var(--scroll-padding);
    overflow-x: hidden;
}

section#info {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

h1.hidden {
    transform: translateX(-2000px);
}

h1 {
    transition: all 500ms ease-out 500ms;
    overflow: hidden;
    border-right: 3px solid transparent;
    white-space: nowrap;
    margin: 0;
    width: 0;
    animation: typing 2.5s steps(40, end) 500ms forwards,
        blink-caret 2.5s step-end 500ms forwards;
    /* Add 'forwards' to keep the final state of the blinking animation */
    transform-origin: left;
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    0% {
        border-color: var(--orange-cl);
    }
    98% {
        border-color: var(--orange-cl);
    }
    100% {
        border-color: transparent;
    }
}

.fade-in.hidden {
    opacity: 0;
    transform: translateY(10%);
}

.fade-in {
    transition: all 800ms ease-in-out;
    opacity: 1;
}

p.hidden,
section#buttons.hidden {
    opacity: 0;
}

p {
    line-height: 1.5;
    font-size: 1.3rem;
    opacity: 1;
    transition: all 500ms ease-in-out 1s;
}

.orange {
    color: var(--orange-cl);
    /* font-weight: 500; */
}

section#buttons {
    display: flex;
    gap: 1rem;
    opacity: 1;
    transition: all 1.5s ease-in-out 1s;
}

#primary-btn,
#secondary-btn {
    font-weight: 600;
    color: #fff;
    background-color: var(--orange-cl);
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: var(--fs-p);
    border-radius: 3rem;
}

#secondary-btn {
    font-weight: 600;
    background-color: transparent;
    color: var(--orange-cl);
    border: 1px solid var(--orange-cl);
}

a#profile-pic > img.hidden {
    transform: translateX(2000px);
}

a#profile-pic > img {
    width: 400px;
    border-radius: 50%;
    transition: all 1.5s ease-in-out;
    box-shadow: var(--box-shadow);
    display: block;
}

section#hero > a > img:hover {
    /* scale: 1; */
}

section#social-media-icons {
    display: flex;
    gap: 1rem;
}

section#social-media-icons > a.hidden {
    transform: translateX(-2000px);
}

section#social-media-icons > a:nth-child(1) {
    transition: all 800ms ease-in-out 1.6s;
}
section#social-media-icons > a:nth-child(2) {
    transition: all 800ms ease-in-out 1.4s;
}
section#social-media-icons > a:nth-child(3) {
    transition: all 800ms ease-in-out 1.2s;
}
section#social-media-icons > a:nth-child(4) {
    transition: all 800ms ease-in-out 1s;
}

section#social-media-icons > a > i {
    font-size: 1.5rem;
    transition: all 300ms ease-in-out;
}

@media (pointer: fine) {
    button:hover {
        cursor: pointer;
        background-image: linear-gradient(rgba(0, 0, 0, 0.1) 0 0);
    }

    section#social-media-icons > a > i:hover {
        /* transform: scale(1.2); */
        transform: translateY(-20%);
    }

    i#go-to-the-top:hover {
        cursor: pointer;
        scale: 1.2;
    }
}
/* hero page */

/* tech-stack */
section#tech-stack {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    /* border-top: 1px solid; */
    /* border-bottom: 1px solid; */
}

section#tech-stack img.illustration {
    width: 500px;
}

section#tech-stack img.illustration.mobile-only {
    display: none;
}

section#tech-stack > section {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

section#tech-stack h2 {
    text-align: center;
}

section#tech-stack section#images {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: flex-start; */
    align-items: center;
    gap: 1.5rem;
    /* background-color: red; */
}

img.tech-logo {
    width: 75px;
}
/* tech-stack */

/* about me */
/* section#about-me {
    display: flex;
    padding: 2rem 3rem;
    justify-content: center;
    align-items: center;
    padding-block: 2rem;
    background-color: red;
} */

/* section#about-me > img {
    width: 500px;
    background-color: blue;
    border-radius: 1rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
} */

section#about-me i {
    /* color: #434343; */
}

section#about-me {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    padding-inline: 1rem;
    /* background-color: blue; */
}

section#about-me > article {
    border-radius: 1rem;
    padding: 1.5rem;
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.5rem;
    background: rgba(255, 255, 255, 0.85);
    /* border: 1px solid; */
}

section#about-me > #what-puts-me-on-top {
    grid-column: span 1; /* Span 1 column */
    grid-row: span 2; /* Span 3 rows */
    background: transparent;
    box-shadow: none;
    padding-block: 0;

    gap: 2rem;
}

section#about-me > #what-puts-me-on-top > img {
    width: 400px;
    align-self: flex-end;
}

section#about-me > article:nth-child(2),
section#about-me > article:nth-child(3) {
    grid-column: span 1;
    grid-row: span 1;
}

section#about-me > article:nth-child(4) {
    grid-column: span 2;
}

section#about-me h3 {
    font-size: 1.7rem;
    letter-spacing: -2px;
    line-height: 1.2;
}

section#about-me p {
    font-size: 1.3rem;
    line-height: 1.5;
}

section#about-me ul {
    list-style: none;
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

section#about-me ul > li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: 500;
}

section#about-me ul > li > i {
    color: #434343;
}
/* about me */

/* expertise */
section#expertise {
    display: flex;
    gap: 300px;
    /* justify-content: center; */
    padding-inline: 2rem;
    /* box-sizing: content-box; */
    align-items: center;
    /* background-color: red; */
}

section#expertise #card-fan {
    display: flex;
    flex-direction: column;
    /* gap: 0.8rem; */
}

section#expertise img.hidden {
    opacity: 0;
}

section#expertise img {
    width: 500px;
    border-radius: 1rem;
    box-shadow: var(--box-shadow);
    opacity: 1;
    transition: opacity 700ms ease-in-out;
}

section#expertise img:nth-of-type(1).hidden {
    transform: translate(0, 100%);
    z-index: 11;
}

section#expertise img:nth-of-type(1) {
    transform: translate(100px, 120px) rotate(-5deg);
    transition: all 1000ms ease-in-out 700ms;
}

section#expertise img:nth-of-type(2) {
    z-index: 10;
}

section#expertise img:nth-of-type(3).hidden {
    transform: translate(0, -100%);
    z-index: 11;
}
section#expertise img:nth-of-type(3) {
    transform: translate(100px, -120px) rotate(5deg);
    transition: all 1000ms ease-in-out 700ms;
}

section#expertise > h2 {
    display: none;
}

section#expertise #coorporate > h2 {
    margin-block-end: 2rem;
}

section#expertise #coorporate > p {
    line-height: 1.5;
    font-size: 1.3rem;
}
/* expertise */

/* strategic focus */
section#strategic-focus {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    /* padding: 2rem 0; */
    /* min-height: calc(100vh - var(--scroll-padding)); */
    align-items: center;
}

section#strategic-focus > h2 {
    /* text-align: center; */
}

section#strategic-focus > img {
    width: 500px;
}

section#strategic-focus > section#targets {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    /* width: 90vw; */
    /* margin-inline: auto; */
}

section#strategic-focus article {
    /* flex-grow: 1; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    width: 25%;
    min-width: 200px; /* Optional: Set a minimum width for the cards */
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: var(--box-shadow);
    background: rgba(255, 255, 255, 0.85);
}

section#strategic-focus article:nth-child(2) {
    /* scale: 1.1; */
}

section#strategic-focus article > h3 {
    font-size: 1.8rem;
    letter-spacing: -2px;
    line-height: 1.2;
    font-weight: 600;
    text-align: center;
}

section#strategic-focus article > img {
    width: 80px;
    /* align-self: flex-end; */
}

section#strategic-focus article > p {
    text-align: center;
    font-size: 1rem;
    line-height: 1.5;
}
/* strategic focus */

/* quiz app */
section#quiz-app {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 2rem;
}

section#quiz-app > img {
    width: 700px;
}
section#quiz-app img#quiz-mobile {
    display: none;
}

section#quiz-app i {
    font-size: 1.3rem;
    color: var(--graphite-cl);
    margin-inline-end: 0.5rem;
}

section#quiz-app > section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 1.3rem;
    width: 700px;
}

section#quiz-app ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

section#quiz-app > section li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

section#quiz-app > section img {
    width: 40px;
}

section#quiz-app > section a {
    color: #fff;
    background-color: var(--orange-cl);
    outline: none;
    border: none;
    text-decoration: none;
    align-self: flex-start;
    border-radius: 3rem;
    padding: 0.5rem 2.5rem;
    font-weight: 500;
}
/* quiz app */

/* footer */
footer {
    display: flex;
    padding: 2rem 1.5rem;
    box-sizing: border-box;
    color: #fff;
    background-color: var(--graphite-cl);
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    justify-content: center;
}

#copyright,
#location {
    display: flex;
    gap: 0.8rem;
    align-items: center;
    font-size: 1rem;
    color: #fff;
}

footer .logo > span {
    color: #fff;
}
/* footer */

/* social media fixed */
/* social media fixed */

/* top button */
i#go-to-the-top {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    font-size: 2rem;
    transition: all 200ms;
    color: var(--orange-cl);
    z-index: 100;
}
/* top button */

/* contact me */
section#contact-me {
    /* background-color: black; */
    display: flex;
    /* justify-content: center; */
    justify-content: space-around;
    align-items: center;
    padding-inline: 4rem;
    padding-block: 2rem;
}

section#contact-me > form {
    display: flex;
    justify-content: center;
    gap: 3rem;
    /* padding-inline: 4rem; */

    border-radius: 1rem;
}

section#contact-me > img {
    width: 500px;
}

form {
    display: flex;
    flex-direction: column;
    /* background-color: black; */
    gap: 2rem;
    padding: 2rem;
    border-radius: 3rem;
    width: clamp(200px, 50vw, 800px);
    background-color: rgba(255, 255, 255, 0.7);
    background: rgba(255, 255, 255, 0.85);
    box-shadow: var(--box-shadow);

    container-type: inline-size;
    container-name: form;

    position: relative;
}

form h2 {
    text-align: center;
}

form input,
form select,
form textarea {
    padding: 0.7rem;
    /* width: 40vw; */
    border-radius: 0.5rem;
    outline: none;
    border: none;
    background-color: var(--graphite-cl-lighten);
    box-shadow: var(--box-shadow-input);
}

form div#service-input {
    display: flex;
    align-items: center;
    position: relative;
}

form div#service-input > :hover {
    cursor: pointer;
}

form div#service-input > input {
    flex-grow: 1;
}

form div#service-input > i {
    position: absolute;
    top: 50%;
    right: 0.7rem;
    transform: translateY(-50%);
    transition: all 200ms;
}

#service-options {
    position: absolute;
    width: 100%;
    bottom: 0;
    transform: translateY(102%);
    border-radius: 1rem;
    overflow: hidden;
    /* outline: 1px solid; */
    background-color: var(--graphite-cl-lighten);
    box-shadow: var(--box-shadow);
    display: none;
}

form div#service-input.opened > i {
    transform: translateY(-50%) rotate(180deg);
}

form div#service-input.opened > #service-options {
    display: block;
}

.option {
    padding: 1rem;
}

.option.selected,
.option:hover {
    background-color: hsl(0, 0%, 90%);
}

textarea {
    resize: none;
}

#symbols-left {
    /* color: #fff; */
    font-size: 0.8rem;
}

form button {
    align-self: flex-end;
    border-radius: 3rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
        rgba(0, 0, 0, 0.22) 0px 10px 10px;

    font-weight: 500;
    background-color: var(--orange-cl);
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.2rem;
    border-radius: 3rem;
}

form #error {
    color: var(--orange-cl);
    display: none;
}

.input-field > *:nth-child(2).error + #error {
    display: block;
}

.input-fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

@container form (max-width: 460px) {
    .input-fields {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
}

.input-field {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5rem;
}

.input-field:last-child {
    grid-column: 1 / -1;
}

label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    /* color: #fff; */
    /* color: #ff5e00; */
    color: var(--graphite-cl);
    font-size: 1.3rem;
}

label > i {
}

form.loading .loader {
    display: inline-block;
}

form.loading button {
    pointer-events: none;
    opacity: 0.7;
}

.loader {
    width: 1.2rem;
    height: 1.2rem;
    border: 2px solid;
    border-color: #fff transparent;
    border-radius: 50%;
    display: none;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

div#success-message {
    background-color: var(--graphite-cl);
    opacity: 0.9;
    color: #fff;
    position: fixed;
    top: 10%;
    right: 1rem;
    z-index: 120;
    display: flex;
    align-items: center;
    gap: 0.7rem;
    font-size: 1.2rem;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: var(--box-shadow);
    transition: all 500ms ease-in-out 200ms;
    transform: translateX(2000px);
}

div#success-message > img {
    width: 30px;
}

body.success-message > div#success-message {
    transform: translateX(0);
}

body.dialog-opened {
    overflow: hidden;
}

body.dialog-opened > div#dialog-background {
    display: flex;
}

div#dialog-background {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(204, 204, 204, 0.6);
    backdrop-filter: blur(3px);
    justify-content: center;
    align-items: center;
    z-index: 200;
}

div#dialog {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

div#dialog > i {
    color: var(--error-red);
    font-size: 2rem;
}

div#dialog > h2 {
    letter-spacing: -1px;
}

div#dialog > button {
    background-color: var(--error-red);
    color: #fff;
    display: block;
    padding: 0.5rem 2.5rem;
    border: none;
    outline: none;
    border-radius: 3rem;
}
/* contact me */

@media (width < 1000px) {
    * {
        --scroll-padding-m: 64.8px;
        scroll-padding: var(--scroll-padding-m);
    }

    /* side social icons */

    div#side-socials img {
        width: 1.7rem;
    }
    /* side social icons */

    .main-heading {
        font-size: 1.7rem;
        letter-spacing: -2px;
    }

    .main-heading:not(h1) {
        /* border-top: 1px solid; */
        border-bottom: 1px solid;
        padding-block: 0.5rem;
    }

    h2.main-heading {
        transition: clip-path 5s ease;
    }

    h2.main-heading.hidden {
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0); /* Clip from top */
    }

    /* nav */
    body.menu-closed > nav {
        transform: translateX(-100%);
    }

    body.menu-opened > nav {
        transform: translateX(0);
    }

    nav {
        width: 250px;
        height: 100vh;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 2rem;
        padding: 1rem;
        transition: all 300ms;
        background-color: rgba(255, 255, 255, 0.8);
        backdrop-filter: blur(4px);
    }

    nav ul {
        flex-grow: 1;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        gap: 2rem;
    }

    li:has(#cv-btn) {
        margin-block-start: auto;
        align-self: flex-end;
        padding: 0.5rem 1rem;
        background-color: var(--graphite-cl);
        border-radius: 0.6rem;
    }

    #cv-btn {
        padding: 0;
    }

    /* mobile logo */
    #mobile-logo {
        display: block;
        padding: 1rem;
    }
    /* mobile logo */

    /* nav open/close */
    #menu-opener,
    #menu-closer {
        font-size: 1.5rem;
        position: fixed;
        top: 1rem;
        right: 1rem;
        z-index: 102;
        color: var(--graphite-cl);
        /* z-index is place for cases like when the opener/closer is aligned with other element reflecting in the mentioned element catching the click event */
    }

    body.menu-closed > #menu-opener {
        display: block;
    }
    body.menu-opened > #menu-closer {
        display: block;
    }

    section.page {
        transition: all 300ms;
    }
    body.menu-opened > :not(nav):not(#menu-opener):not(#menu-closer) {
        filter: blur(3px);
        pointer-events: none;
    }
    /* nav open/close */

    body > .page {
        min-height: calc(100vh - var(--scroll-padding-m));
    }

    /* hero page */
    section#hero {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        margin-block-start: 0;
        align-items: center;
        padding-inline: 1rem;
    }

    section#info {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        align-items: center;
        order: 2;
    }

    h1 {
        font-size: 1.7rem;
        text-align: center;
    }

    section#info p {
        text-align: center;
    }

    section#info p,
    section#info a {
        font-size: var(--fs-p-m);
        font-weight: 400;
    }

    a#profile-pic > img {
        width: 310px;
    }
    /* hero page */

    /* tech-stack */
    section#tech-stack img.illustration {
        display: none;
    }

    section#tech-stack img.illustration.mobile-only {
        width: 300px;
        display: block;
    }

    section#tech-stack h2 {
        align-self: flex-start;
        /* padding-inline-start: 1rem; */
        margin-inline-start: 1rem;
    }

    section#tech-stack > section {
        margin-block: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    section#tech-stack section#images {
        justify-content: center;
        align-items: center;
        gap: 1rem;
        padding-inline: 1rem;
    }

    img.tech-logo {
        width: 55px;
    }
    /* tech-stack */

    /* about me */
    section#about-me {
        display: flex;
        gap: 1rem;
        padding: 1rem;
        flex-direction: column;
        align-items: center;
    }

    section#about-me h2 {
        align-self: flex-start;
    }

    section#about-me > #what-puts-me-on-top {
        padding: 0;
    }

    section#about-me > #what-puts-me-on-top > img {
        width: 250px;
        align-self: flex-end;
    }

    section#about-me > article {
        border-radius: 1rem;
        padding: 1rem;
        box-shadow: var(--box-shadow);
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        font-size: 1rem;
        background: rgba(255, 255, 255, 0.85);
        /* border: 1px solid; */
    }

    section#about-me h3 {
        font-size: 1.4rem;
        letter-spacing: -2px;
        line-height: 1.2;
    }

    section#about-me p {
        font-size: 1rem;
        line-height: 1.5;
    }

    section#about-me ul {
        list-style: none;
        font-size: 1rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
    /* about me */

    /* expertise */
    section#expertise {
        flex-direction: column;
        gap: 0;
        padding-inline: 1rem;
        align-items: center;
        /* background-color: red; */
    }

    section#expertise #card-fan {
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    section#expertise img {
        width: 200px;
        border-radius: 1rem;
        box-shadow: var(--box-shadow);
    }

    section#expertise img:nth-of-type(1) {
        transform: translate(-44px, 40%) rotate(0);
        z-index: 11;
    }

    section#expertise img:nth-of-type(2) {
        z-index: 10;
    }
    section#expertise img:nth-of-type(3) {
        transform: translate(44px, -40%) rotate(0);
    }

    section#expertise #coorporate {
    }

    section#expertise > h2 {
        display: block;
        align-self: flex-start;
    }

    section#expertise #coorporate > h2 {
        /* align-self: flex-start; */
        display: none;
    }

    section#expertise #coorporate > p {
        font-size: 1rem;
    }
    /* expertise */

    /* strategic focus */
    section#strategic-focus {
        gap: 2rem;
        align-items: center;
        padding-inline: 1rem;
    }

    section#strategic-focus > h2 {
        align-self: flex-start;
    }

    section#strategic-focus > section#targets {
        flex-direction: column;
        gap: 1rem;
        padding: 0;
    }

    section#strategic-focus article {
        /* width: clamp(200px, 90%, 1000px); */
        width: 100%;
        align-items: flex-start;
        padding: 1rem;
        gap: 0.5rem;
    }

    section#strategic-focus article > img {
        align-self: flex-end;
        width: 50px;
    }

    section#strategic-focus article > h3 {
        font-size: 1.4rem;
        letter-spacing: -1px;
    }
    section#strategic-focus article > p {
        text-align: initial;
    }
    /* strategic focus */

    /* quiz app */
    section#quiz-app {
        padding-block: 2rem;
        padding-inline: 1rem;
    }

    section#quiz-app > section {
        flex-direction: column;
        justify-content: flex-start;
        gap: 1rem;
        align-items: center;
        width: 100%;
    }

    section#quiz-app h2 {
        align-self: flex-start;
    }

    section#quiz-app > img {
        display: none;
    }
    section#quiz-app img#quiz-mobile {
        display: block;
        width: 300px;
    }

    section#quiz-app p,
    section#quiz-app ul,
    section#quiz-app a {
        font-size: 1rem;
    }

    section#quiz-app ul > li > img {
        width: 30px;
    }

    section#quiz-app > section a {
        padding-inline: 1rem;
        align-self: flex-end;
        /* margin-inline-end: 1.6rem; */
        z-index: 101;
        /* in order not to lay over the top btn */
    }
    /* quiz app */

    /* footer */
    footer {
        padding: 1rem;
        gap: 0.8rem;
        /* justify-content: center; */
    }

    #copyright,
    #location {
        gap: 0.5rem;
        font-size: 0.8rem;
    }
    /* footer */

    /* top button */
    i#go-to-the-top {
        font-size: 1.5rem;
    }
    /* top button */

    /* contact me */
    section#contact-me {
        flex-direction: column;
        /* justify-content: space-around; */
        align-items: stretch;
        padding: 0rem 1rem 2rem 1rem;
        /* background: rgba(255, 255, 255, 0.85); */
    }

    section#contact-me > img {
        /* width: 200px;
        align-self: center; */
        display: none;
    }

    section#contact-me > form {
        width: auto;
        padding: 1rem;
        gap: 1.5rem;
        background: transparent;
        box-shadow: none;
        box-shadow: var(--box-shadow);
        background: rgba(255, 255, 255, 0.85);
    }

    form h2 {
        align-self: center;
        /* transform: translateX(-1.6rem); */
    }

    .input-fields {
        gap: 1rem;
    }

    form input,
    form select,
    form textarea {
        padding: 0.5rem;
        font-size: 1rem;
    }

    label {
        font-size: 1rem;
        gap: 0.3rem;
    }

    .option {
        padding: 0.5rem;
        font-size: 1rem;
    }

    form button {
        position: relative;
        font-size: 1rem;
        z-index: 101;
        /* for the top button */
    }

    div#success-message {
        left: 1rem;
    }

    div#success-message {
        font-size: 1rem;
        padding: 0.5 1rem;
    }

    div#success-message > img {
        width: 20px;
    }

    /* contact me */
}
